body{
    background-color: bisque;
}

/* styling headings */
h1{
    color: black;
    background-color: gold;
    text-align: center;
    border-radius: 20px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* headings 2 */
h2{
    color: brown;
    background-color: palevioletred;
    text-align: center;
    border-radius: 10px;
    padding: 5 px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
/* end of styling headings */

/* styling of parapraphs */
p{
    color: black;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
    margin: 10px;
    text-align: center;
    line-height: 2.0;

}

/* styling the list applied above */
ul{
    background-color: brown;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    line-height: 2.0;
    font-size: 20px;
}

/* form styling input types */
input[type="text"], input[type="email"], input[type="date"],input[type="time"], input[type="number"], input[type="tel"] {
    width: 90%;
    padding: 5px;
    margin: 5px 0 5px 0;
    background-color: antiquewhite;
    border-radius: 4px;
    border: 1px solid aqua;
}

/* stlying of input types */
input[type="submit"] {
    background-color: blue;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;

}

input[type="reset"]{
    background-color: red;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}
/* hover option */
input[type="submit"]:hover {
    background-color: green;
}
input[type="Reset"]:hover {
    background-color: gray;
}

/* styling of links */
a{
     margin: 10px;
    text-decoration: none;
    padding: 10px;
    color: rgb(233, 233, 238);
    font-weight: bolder;
    padding: 15px;
    background-color: lightgrey;
    border-radius: 3px 15px 8px 20px;
    background-color: rgb(101, 3, 3);
}
/* hover applying to the links */
a:hover{
     background-color: black;
    color: white;
}

/* table stlying */
table, th, td {
    width: 100%;
    text-align: center;
    border: 1px solid bla;
}

